html {
    background-color: black;
}

h1 {
    color: white;
    text-align: center;
    text-transform: capitalize;
    font-family: "Libre Baskerville", serif;

}

#meme {
    margin-top: 25%;
    height:400px;
    width:100%;
    border: 5px solid white
    
}

#caption {
    color: white;
    text-align: center;
}

div {
    width: 50%;
    margin-left: 25%
    
}

@media (max-width: 680px ) {

    #meme {
        height: 30%;
        width: 50;
    }

}
